$primary: rgb(62, 39, 146);
$black : rgb(13, 3, 29);
$light: hsl(44, 100%, 97%);
$orange:  rgb(88, 110, 236);
$primary_gradient: linear-gradient(60deg,$primary,$orange);
$footer-background-color: $light
