$primary: rgb(255, 163, 110);
$black : rgb(13, 3, 29);
$light: hsl(180, 1%, 92%);
$orange:  rgb(255, 208, 146);
$primary_gradient: linear-gradient(60deg,$primary,$orange);

$family-primary: 'Lato';


$text:$black;
$footer-background-color: $light;
$background: $light;
$body-background-color: $light;

$navbar-box-shadow-color: rgba(3, 5, 29, 0.3);
$navbar-box-shadow-size: 0px 0px 10px 1px ;
$navbar-item-color: $light;


$radius-small:0;
$radius: 0;
$radius-large:0;
$radius-rounded:0;